{% extends 'base.html.twig' %}

{% block title %}New Rooms{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create New Room</h1>

        {{ include('rooms/_form.html.twig') }}

        <a href="{{ path('app_rooms_index') }}" class="btn btn-secondary mt-4">Back to List</a>
    </div>
{% endblock %}
