{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Category</h1>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form>
                            {{ include('category/_form.html.twig') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
{% endblock %}
